{% extends "core/base.html" %}
{% block title %}{{CategoryName}}{% endblock %}
{% block content %}
<div class="container" id="categoryContainer">
    <div class="overflow-hidden h-auto col-12 bg-light">
        {% if Products %}
        {% for Product in Products %}
        <a href="/products/productDisplay/{{ Product.productId }}" class="d-block w-100 p-3 h-auto row text-decoration-none">
            <img src="{{ Product.productImage.url }}" alt="" style="width: 200px;height:200px;"
                class="col-xl-4 col-lg-4 col-md-6 col-sm-12 h-auto">
            <h3 class="col-xl-8 col-lg-8 col-md-6 col-sm-12 d-inline-block text-center">{{ Product.productName }}</h3>
        </a>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}