{% extends "core/base.html" %}
{% block title %}Categories{% endblock %}
{% block content %}
<div class="container" id="categoryContainer">
    <div class="overflow-hidden h-auto col-12 bg-light">
        {% if Categories %}
        {% for category in Categories %}
        <a href="categories/{{ category.categoryName }}" class="d-block w-100 p-3 h-auto row text-decoration-none">
            <img src="{{ category.categoryImage.url }}" alt="" style="width: 200px;height:200px;"
                class="col-xl-4 col-lg-4 col-md-6 col-sm-12 h-auto">
            <h3 class="col-xl-8 col-lg-8 col-md-6 col-sm-12 d-inline-block text-center">{{ category.categoryName }}</h3>
        </a>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}